.modal-form {
  position: relative;
  background-color: white;
  box-shadow: inset 0px 22px 40px rgba(252, 229, 239, 0.5),
    inset 0px 0px 40px rgba(252, 229, 239, 0.5);
  border-radius: 15px;
  border: 1px solid #fce5ef;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 36px;
  padding-right: 37px;
  @include max-width(420px);
  width: 98%;

  @media (max-width: 650px) {
    padding: 20px;
  }
}

.modal-form__title {
  @include max-width(308px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  line-height: 1.36;
  margin-bottom: 19px;

  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.modal-form__subtitle {
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: 650px) {
    margin-bottom: 20px;
  }
}

.modal-form__content {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.modal-form__input-box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-form__input-wrapper {
  @include max-width(331px);
  padding-left: 53px;
  padding-right: 17px;
  display: flex;
  align-items: center;
  min-height: 83px;
  background: #f2f2f2;
  border: 1px solid #ababab;
  border-radius: 300px;
  position: relative;

  &::before {
    position: absolute;
    left: 29px;
    top: 50%;
    transform: translateY(-44%);
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      content: url('/src/img/icons/form/#{$i}.svg');
    }
  }
}

.modal-form__input {
  font-size: 16px;
  color: black;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;

  &::-webkit-input-placeholder {
    color: #ababab;
  }

  &::-moz-placeholder {
    color: #ababab;
  }

  &:-ms-input-placeholder {
    color: #ababab;
  }

  &:-moz-placeholder {
    color: #ababab;
  }
}

.modal-form__policy {
  color: #ababab;
  font-size: 13px;
  margin-bottom: 0;
  text-align: center;

  button {
    @include reset-btn;
    color: #ababab;
    text-decoration: underline;
  }

  @media (max-width: 650px) {
    font-size: 13px !important;
  }
}
