.offer {
  @include bg;
  background-image: url('/src/img/bgs/offer-bg.jpg');
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 1078px;

  @media (max-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
  }

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.offer__title {
  @include title;
  @include max-width(755px);
  margin-bottom: 56px;
  
  span {
    color: $blue;
    text-transform: uppercase;
  }

  @media (max-width: 1100px) {
    max-width: 100%;
    br {
      display: none;
    }
  }
}

.offer__text {
  @include subtitle;
  @include max-width(673px);
  margin-bottom: 40px;

  @media (max-width: 1100px) {
    max-width: 100%;
  }
}

.offer__note {
  @include max-width(524px);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 70px;

  @media (max-width: 1100px) {
    max-width: 100%;
  }
}
