.slider-shops {
  @include max-width(313px);
  margin-left: auto;
  margin-right: auto;
  @include mobile-mb;
  margin-bottom: 75px;
  position: relative;
  display: none;

  @media (max-width: 1150px) {
    display: block;
  }
}

.slider-shops__wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-shops__img-box {
  display: flex;
  justify-content: space-between;
  touch-action: pan-y;
  user-select: none;
}

.slider-shops__img-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  img {
    pointer-events: none;
  }
}

.slider-shops__nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 30px;

  @media (max-width: 991px) {
    justify-content: center;
  }
}

.slider-shops__nav-item {
  @include reset-btn;
  width: 10px;
  height: 10px;
  background: white;
  border: 1px #ff4b2b solid;
  border-radius: 50%;

  &_active {
    width: 15px;
    height: 15px;
    border: 1px transparent solid;
    background: linear-gradient(90deg, #ff4b2b 0%, #ff416c 100%);
    box-shadow: 0px 3px 20px rgba(255, 65, 108, 0.7), inset 0px 1px 5px #ff7d9b;
  }
}

.slider-shops__btn-next,
.slider-shops__btn-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  @include reset-btn;
  width: 50px;
  height: 50px;
  background-color: #f8b9d5;
  box-shadow: 0px 10px 40px rgba(223, 98, 160, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &:active {
    background: linear-gradient(180deg, #f19ec4 0%, #df62a0 100%);
    box-shadow: none;
  }

  @media (max-width: 650px) {
    display: none;
  }
}

.slider-shops__btn-next {
  left: initial;
  right: -50px;
}
