.steps {
  @include bg;
  background-image: url('/src/img/bgs/steps-bg.jpg');
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 1448px;

  @media (max-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
  }

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.steps__title {
  @include title;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  @include max-width(572px);
}

.steps__list {
  @include reset-list;
  @include max-width(617px);
  @include mobile-mb;
  margin-bottom: 70px;
  position: relative;
  margin-left: auto;
  left: 67px;

  @media (max-width: 1315px) {
    left: 0px;
  }

  @media (max-width: 1050px) {
    margin-right: auto;
  }

  &::before {
    width: 1px;
    height: 700px;
    background: linear-gradient(180deg, #f19ec4 0%, #df62a0 100%);
    content: '';
    position: absolute;
    left: 25px;
    top: 20px;
    z-index: -1;

    @media (max-width: 650px) {
      height: 1085px;
    }
  }

  &::after {
    position: absolute;
    left: -751px;
    top: 35px;
    content: url('/src/img/steps-img-2.png');
    z-index: -1;

    @media (max-width: 1150px) {
      left: -684px;
    }

    @media (max-width: 1050px) {
      content: none;
    }
  }
}

.steps__item {
  position: relative;
  padding-left: 70px;
  margin-bottom: 30px;

  @media (max-width: 650px) {
    br {
      display: none;
    }
  }

  &::before {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, #f19ec4 0%, #df62a0 100%);
    color: white;
    font-size: 25px;
    line-height: 1.36;
    position: absolute;
    left: 0px;
    top: -10px;
    font-family: 'Montserrat';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @for $i from 1 through 7 {
    &:nth-child(#{$i})::before {
      content: '0#{$i}';
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.steps__item-text {
  margin-bottom: 0;
}

.steps__text-box {
  position: relative;
  box-shadow: 0px 30px 65px rgba(207, 60, 149, 0.1),
    0px 7px 20px rgba(197, 48, 138, 0.05);
  border-radius: 15px;
  background-color: white;
  padding-left: 40px;
  padding-right: 55px;
  padding-top: 44px;
  padding-bottom: 44px;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1150px) {
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 650px) {
    padding: 20px;
    gap: 0px;
  }
}

.steps__small-text {
  @include max-width(172px);
  margin-bottom: 0;

  @media (max-width: 1150px) {
    max-width: 100%;
    text-align: center;

    br {
      display: none;
    }
  }
}

.steps__large-text {
  @include max-width(847px);
  font-size: 40px;
  line-height: 1.4;
  color: #ae1d37;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-bottom: 0;

  @media (max-width: 1150px) {
    max-width: 100%;
    text-align: center;
  }

  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}
